.div-background {
    background-image: url('https://www.mentebinaria.com.br/uploads/monthly_2018_04/5acd15480259a_OWASP-RJ-googleforms-header.jpg.39666a0a851f4bd19c48d63c53db33e1.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}